@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headTitle {
  @apply text-3xl  text-center lg:text-4xl  font-extrabold uppercase mt-8 lg:mt-0 mb-8  lg:mb-16;
}

.name {
  @apply text-3xl lg:text-4xl font-semibold;
}
.subName {
  @apply text-2xl font-semibold;
}

.buttonOrange {
  background-color: hsl(12, 88%, 59%);
  color: hsl(0 0% 100%);
}

.textColor {
  color: hsl(12, 88%, 59%);
}

.background {
  background-color: hsl(233, 12%, 13%);
}

.navBarActiveLi {
  @apply text-sm border border-textColor  font-semibold py-1 lg:py-2 lg:px-4;
}
.navBarInActivLi {
  @apply text-sm border border-[#444] font-semibold py-1 lg:py-2 lg:px-4;
}

.modalField {
  @apply mt-2 w-[300px] pl-4 text-sm  rounded-lg py-3.5 outline-none border border-[#EBEEF2] focus:border focus:border-textColor;
}

.fieldTitle {
  @apply mt-2 font-semibold font-Poppins;
}
